@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  h1 {
    @apply text-4xl mb-2;
  }
  h2:first-of-type {
    @apply text-2xl mt-0 mb-2;
  }
  h2 {
    @apply text-2xl mt-4 mb-2;
  }
  p, ul {
    @apply mb-2 leading-snug;
  }
  p a {
    @apply underline hover:text-gray-400;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
